# .github/workflows/main.yml
name: Daily Contributions

on:
  schedule:
  - cron: '* * * * *' # every day at noon

jobs:
  single-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: bcanseco/github-contribution-graph-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIT_EMAIL: ${{ secrets.GIT_EMAIL }} # replace me
